DATABASE_URL="mongodb+srv://username:password@cluster0.gcih2.mongodb.net/dbname"
JWT_SECRET="supersecret"
JWT_EXPIRES_IN=""
PORT=
ADMIN_EMAIL="admin@jobportal.com"
ADMIN_PASSWORD="Admin@123"
ADMIN_FORCE_RESET_PASSWORD="false"
